@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --primary-black: #000;
  --primary-white: #fff;
  --primary-blue: #242F9B;
  --button: #708090;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 100px 100px;
  background-color: var(--primary-white);
  color: var(--primary-blue);
  font-family: 'Press Start 2P', cursive;
}

/* button */

button {
  color: var(--primary-white);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  font-family: 'Courier New', Courier, monospace;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.btn {
  border-radius: 10px;
  background-color: var(--button);
}

.btn-box {
  width: 200px;
  height: 200px;
}

.btn:hover {
  transform: scale(1.10);
  transition: all ease ;
  box-shadow: 0 0 10px rgb(145, 145, 145);
  background-color: var(--primary-black);
}

/* header */

.header {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.title {
  color: var(--primary-black);
  letter-spacing: 0.3rem;
  font-size: 32px;
}

/* main */

.main {
  margin-top: 30px;
  text-align: center;
}

.scoreboard {
  margin-bottom: 15px;
}

.score-info {
  font-size: 32px;
}

.score-message {
  font-size: 20px;
  margin-top: 50px;
}

.scores-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
}

.score-box {
  width: 200px;
}

.score {
  margin: 20px auto;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.sign {
  margin-bottom: 10px;
  font-size: 80px;
}

/* modals */

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--primary-black);
  text-align: center;
  font-size: 25px;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  color: var(--primary-white);
  font-size: 30px;
  font-weight: bold;
}

.btn-restart {
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-black);
  opacity: 0.6;
}

.overlay.active {
  display: block;
}

/* responsive */

@media (max-width: 550px) {
  .title {
    font-size: 22px;
  }

  .score-info {
    font-size: 20px;
  }

  .score-message {
    font-size: 18px;
  }

  .buttons {
    gap: 20px;
  }

  .btn-box {
    width: 150px;
    height: 120px;
  }

  .sign {
    font-size: 50px;
  }

  .modal {
    width: 90%;
  }
}
